/*  */
.quiz{
    margin: 0px;
    padding: 10px;
}

/* QUIZ */
addTimerLabel{
    display: flex;
    align-items: baseline;
}
.result {
    padding: 4px;
}

.resultRow {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}
