
/* PAGE3 */
.h4{
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.h3{
    text-align: center;
}
/* QUIZ LIST */
.page3Section1{
    background-color: #0095C7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    display: block;
}
.quizUsername {
    /* visibility: hidden; */
    font-weight: 800;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    text-transform: uppercase;
}

#quizOutput{
    padding: 10px;
        background-color: rgb(127, 206, 255);
        border: 1px solid #000000;
}
.quizListRow{
    /* background-color: #0987b1; */
    margin-top: 2px;
    margin-bottom: 2px; 
    display: flex;
    padding: 5px;;
    margin-left: 1px; 
    align-items: baseline; 
    margin-right: 1px;
}
.quizItem{
    margin-top: 2px; background-color: #0987b1;
        margin-bottom: 2px;
        margin-left: 1px;
        margin-right: 1px; padding: 4px; border: black;
            border-style: solid;
}
#quizName{
    text-transform: capitalize;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#userNameCol{
    display: flex;
        flex-direction: row;
        align-items: baseline;
}
#quizNameCol{
    display: flex;
    flex-direction: row;
        align-items: baseline;
        font-weight: 800;
}
.itemText {
    font-weight: 800;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}
/* QUIZLIST BUTTONS */
#editQuizBtn{

    margin-right: 15px;
font-weight: 600;
}

.addQuizField{
    display: flex;
        align-items: baseline;
}
#deleteQuizBtn{
        font-weight: 600;
}
#page3Section2 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #0082AD;
    ;

}
.buttonCol{
    display: flex;
    margin: 0px;
    padding: 0px;;
    justify-content: flex-end;
}
/* ADDQUIZ FORM */
.addQuizLabel{
    display: flex;
    border-radius: 5px;
    align-items: baseline;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#quizInput{
    background-color: #1e7997;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #000000;
    padding: 10px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
/* #questionInput{
    width: 280px;
} */
 /* NEW QUIZ FORM */
#newQuizForm{
    margin: 0px;
    padding: 10px;
    background-color: #0095C7;
    border:solid #000000;

}
.buttonCol{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.addQuizLabel{
    display: flex;
}

.quizFormRow{
    margin-top: 2px;
    display: flex;
        align-items: baseline;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 2px;
    width: 90%;
}
.quizFormCol{
    margin: 0px;
    padding: 5px;
    display: flex; width: 50%;

}
#addQuizBtnCol{display: flex;
    justify-content: flex-end;}

#addQuizBtn{
        margin: 10px;
            padding: 10px;
            font-weight: 800;
}
.addQuizInput{
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 0px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;    
    width: 270px;
}
/* NEW QUIZ OUTPUT */
.newQuizOutput{
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    background-color: #000000;
}
.question{
    display: flex;
    align-items: baseline;
    margin: 10px;
}
.questionsOutput {
    background: aqua;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    border: black;
    border-style: solid;
}
#addQuestionBtn{
    margin-top: 15px;
        margin-bottom: 15px;
        float: right;
        margin-left: 0px;
        margin-right: 10px;
            font-family: sans-serif;
                color: black;
}
#newQuizBtnCol{
        display: flex;
            justify-content: flex-end;
}
.quizNameLabel {
    display: flex;
    align-items: baseline;
    margin: 0px;
        padding: 0px;
        text-transform: capitalize;
}
#quizName{
    text-transform: capitalize;
}
.quizUserNameLabel {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}
.quizLabelText{
    margin-bottom: 0px;
    margin-top: 0px;
}